# Copy to .env and fill in your credentials
RPCN_USER=doStudy
RPCN_PASSWORD=23866C8DAF2A8675DFB90B34A35089A68C813BFDEFB2EC99A0CD532A55BB62BB
RPCN_TOKEN=D317CCD5737361FC
RPCN_HOST=rpcn.mynarco.xyz
RPCN_PORT=31313

REDIS_URL=redis://localhost:6379
CACHE_TTL_SERVERS=3600
CACHE_TTL_LEADERBOARD=300
CACHE_TTL_ROOMS=60
CACHE_TTL_ROOMS_ALL=60
